In [1]:
import pandas as pd

df = pd.read_csv('water_quality_master.csv')
df.head()

/tmp/ipykernel_14241/2541847167.py:3: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,13,14,15,16,19,20,21,22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('water_quality_master.csv')

,Well_ID,S. No.,State,District,Block,Village,Latitude,Longitude,Year,pH,...,PO4,TH,Ca,Mg,Na,K,F,TDS,SiO2,source_file
0,W254029084355301,1,Himachal Pradesh,Solan,Nallagarh,JAGATPUR,31.1594,76.6785,2019,8.44,...,<0.1,84.0,17.0,10,39.0,2.4,0.20,NaN,11.0,tabula-2019 water quality data.csv
1,W251908084361501,2,Himachal Pradesh,Solan,Nallagarh,BARUNA,31.1540,76.6384,2019,8.40,...,<0.1,116.0,10.0,18,23.0,1,0.12,NaN,12.0,tabula-2019 water quality data.csv
2,W310955076364001,3,Himachal Pradesh,Solan,Nallagarh,BHATOLI,31.1651,76.6082,2019,8.40,...,<0.1,116.0,10.0,18,28.0,2.5,0.15,NaN,13.0,tabula-2019 water quality data.csv
3,W310143076392701,4,Himachal Pradesh,Solan,Nallagarh,MAGANPURA,31.0200,76.6500,2019,8.12,...,<0.1,200.0,38.0,26,68.0,4,0.14,NaN,16.0,tabula-2019 water quality data.csv
4,W321645075471501,5,Himachal Pradesh,Kangra,Nurpur,PANJPIR,32.2800,75.7914,2019,8.12,...,<0.1,110.0,28.0,9.7,26.0,2.01,0.22,NaN,30.0,tabula-2019 water quality data.csv

AttributeError: 'numpy.ndarray' object has no attribute 'isdigit'